.col-right-padding-none {
    padding-right: 0;
}

.custom-modal-size {
    width: 45vw; /* 100vw - 27.5% x 2 */
    height: 90vh; /* 100vh - 5% x 2 */
    margin: 5vh auto; /* 상하 5%, 좌우 자동 가운데 */
    max-width: none; /* 기본 제한 해제 */
}

.fault-detail-footer {
    flex: 1 1 auto;
    overflow-y: auto;
}

.flex-row-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.flex-row-info:last-child {
    margin-bottom: 0px;
}

.detail-span-box {
    min-width: 127.5px; /*  고정 너비 설정 */
}

    .detail-span-box .badge {
        font-size: 17px;
        width: 100%; /* badge 안에서 꽉 채우기 (optional) */
    }

.detail-span-text {
    font-weight: 600;
}

/* From Uiverse.io by mobinkakei */
#wifi-loader {
    --background: #62abff;
    --front-color: #4f29f0;
    --back-color: #c3c8de;
    --text-color: #414856;
    width: 100vw;
    height: 100vh;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

    #wifi-loader svg {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #wifi-loader svg circle {
            position: absolute;
            fill: none;
            stroke-width: 6px;
            stroke-linecap: round;
            stroke-linejoin: round;
            transform: rotate(-100deg);
            transform-origin: center;
        }

            #wifi-loader svg circle.back {
                stroke: var(--back-color);
            }

            #wifi-loader svg circle.front {
                stroke: var(--front-color);
            }

        #wifi-loader svg.circle-outer {
            height: 86px;
            width: 86px;
        }

            #wifi-loader svg.circle-outer circle {
                stroke-dasharray: 62.75 188.25;
            }

                #wifi-loader svg.circle-outer circle.back {
                    animation: circle-outer135 1.8s ease infinite 0.3s;
                }

                #wifi-loader svg.circle-outer circle.front {
                    animation: circle-outer135 1.8s ease infinite 0.15s;
                }

        #wifi-loader svg.circle-middle {
            height: 60px;
            width: 60px;
        }

            #wifi-loader svg.circle-middle circle {
                stroke-dasharray: 42.5 127.5;
            }

                #wifi-loader svg.circle-middle circle.back {
                    animation: circle-middle6123 1.8s ease infinite 0.25s;
                }

                #wifi-loader svg.circle-middle circle.front {
                    animation: circle-middle6123 1.8s ease infinite 0.1s;
                }

        #wifi-loader svg.circle-inner {
            height: 34px;
            width: 34px;
        }

            #wifi-loader svg.circle-inner circle {
                stroke-dasharray: 22 66;
            }

                #wifi-loader svg.circle-inner circle.back {
                    animation: circle-inner162 1.8s ease infinite 0.2s;
                }

                #wifi-loader svg.circle-inner circle.front {
                    animation: circle-inner162 1.8s ease infinite 0.05s;
                }

    #wifi-loader .text {
        position: relative; /* ✅ absolute 말고 flex 흐름에 맞추기 */
        margin-top: 121px; /* ✅ svg 밑에 간격 주기 */
        z-index: 1; /* ✅ 혹시 모를 겹침 대비 */
        color: var(--text-color);
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.2px;
        text-transform: lowercase;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #wifi-loader .text::before, #wifi-loader .text::after {
            content: attr(data-text);
        }

        #wifi-loader .text::before {
            color: var(--text-color);
        }

        #wifi-loader .text::after {
            color: var(--front-color);
            animation: text-animation76 3.6s ease infinite;
            position: absolute;
            left: 0;
        }

@keyframes circle-outer135 {
    0% {
        stroke-dashoffset: 25;
    }

    25% {
        stroke-dashoffset: 0;
    }

    65% {
        stroke-dashoffset: 301;
    }

    80% {
        stroke-dashoffset: 276;
    }

    100% {
        stroke-dashoffset: 276;
    }
}

@keyframes circle-middle6123 {
    0% {
        stroke-dashoffset: 17;
    }

    25% {
        stroke-dashoffset: 0;
    }

    65% {
        stroke-dashoffset: 204;
    }

    80% {
        stroke-dashoffset: 187;
    }

    100% {
        stroke-dashoffset: 187;
    }
}

@keyframes circle-inner162 {
    0% {
        stroke-dashoffset: 9;
    }

    25% {
        stroke-dashoffset: 0;
    }

    65% {
        stroke-dashoffset: 106;
    }

    80% {
        stroke-dashoffset: 97;
    }

    100% {
        stroke-dashoffset: 97;
    }
}

@keyframes text-animation76 {
    0% {
        clip-path: inset(0 100% 0 0);
    }

    50% {
        clip-path: inset(0);
    }

    100% {
        clip-path: inset(0 0 0 100%);
    }
}

#fault-tbody-id tr:hover {
    background-color: #343a40 !important;
    color: white;
    cursor: pointer;
}
.select-tr td {
    background-color: #343a40 !important;
}

.logo-img {
    display: inline-block;
    margin-top:-12px;
    width: 125px;
    height: 50px;
    background-image: url('/img/logo1.svg'); /* 혹은 ~/img/logo.svg → 실제 경로로 맞춰 */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}



.fault-table table {
    min-width: 590px; /* 너무 작게 접히지 않게 설정 */
}

/* wifi loder */
#wifi-loader {
    position: fixed; /* 화면에 고정 */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

    #wifi-loader.hidden {
        display: none !important;
    }

body {
    overflow: hidden; /* 로딩 중 스크롤 방지 */
}